<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>new user</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<div class="form-style-6">
<form th:method="POST" th:action="@{/admin/new}" th:object="${user}">

    <label for="nickname">Enter nickname: </label>
    <input type="text" th:field="*{nickname}" id="nickname"/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="pts">Enter pts: </label>
    <input type="text" th:field="*{pts}" id="pts"/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <input type="submit" value="Create!"/>
</form>
</div>
</body>
</html>